@import url('https://fonts.googleapis.com/css?family=Inconsolata|Lato:300,400,700');
html, body, h1, h2, h3, h4, h5, h6, p, li, ol, ul, pre {
	margin: 0;
	padding: 0;
}
html, body { min-height: 100%; }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  margin: 2em 0 2em 2em;
  padding-bottom: 1em;
  border-bottom: 1px solid;
}

.header a {
  margin: 0 1em 0 2em;
  font-size: 1em;
  text-decoration: none;
}

.content {
  margin-left: 2em;
  font-size: 1.5em;
}

.message {
  color: red;
  font-size: 0.7em;
}

.container {
  text-align: center;
}


.selected {
	background-color: #246c;
	background-image: linear-gradient(to bottom, transparent, #0009);
	border-top: 1px solid #fff3;
	box-shadow: inset 0 1px 0 #fff3, 0 0 32px #000;
	overflow: hidden;
	padding: 8px;
}

body {
	background-color: #345;
	background-image: linear-gradient(to bottom, #0009, transparent);
	color: #eee;
	font-family: 'Lato', sans-serif;
	font-size: 62.5%;
	padding: 0 20px;
	box-sizing: border-box;
}
code {
	background: #fff1;
	font-family: 'Inconsolata', monospace;
	padding: .2em .4em;
}


.content {
	background-color: #fff;
	border-radius: 8px;
	box-sizing: border-box;
	color: rgb(163, 0, 203);
	font-size: 1.6em;
	line-height: 1.4em;
	margin: 20px auto;
	margin-top: 80px;
	padding: 20px;
	width: 100%;
	max-width: 800px;
}
.content ul {
	margin: .5em 2em;
	padding: 0;
}

#footer {
	background-color: #246c;
	background-image: linear-gradient(to bottom, transparent, #0009);
	border-top: 1px solid #fff3;
	box-shadow: inset 0 1px 0 #fff3, 0 0 32px #000;
	overflow: hidden;
	padding: 8px;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9001;
}
#footer a {
	color: #85c6f6;
	padding: 1em 0;
	text-decoration: none;
}
#footer ul {
	display: flex;
	list-style: none;
	justify-content: center;
	font-size: 2em;
	font-weight: 300;
}
#footer ul li {
	padding: 0 .5em;
}

/* Appearance */
.links {
	background-color: #123;
	background-image: linear-gradient(to bottom, #0003, transparent);
	border-bottom: 1px solid #0003;
	box-shadow: 0 0 32px #0003;
	font-size: 15px;
	font-weight: 300;
  align-content: center;
}
.links > a {
	color: rgb(255, 255, 255);
	padding: .75em;
	text-align: center;
	text-decoration: none;
	transition: all .5s;
}
.links > a:hover {
	background: #ffffff06;
	color: rgb(163, 0, 203);
	font-weight: bold;
}
.links > .line {
	background: rgb(163, 0, 203);
	height: 1px;
	pointer-events: none;
}

/* The Magic */
#header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}
.links {
	display: grid;
	grid-template-columns: repeat(var(--items), 1fr);
	position: relative;
}
.links > .line {
	opacity: 0;
	transition: all .5s;
	position: absolute;
	bottom: 0;
	left: var(--left, calc(100% / var(--items) * (var(--index) - 1)));
	width: var(--width, calc(100% / var(--items)));
	--index: 0;
}
.links > a:hover ~ .line {
	opacity: 1;
}

.registrationDiv {
	text-align: center;
}

 /* The alert message box */
.alert {
padding: 20px;
background-color: #f44336; /* Red */
font-size: 14px;
color: white;
margin-bottom: 15px;
text-align: center;
}

/* The close button */
.closebtn {
margin-left: 15px;
color: white;
font-weight: bold;
float: right;
font-size: 16px;
line-height: 20px;
cursor: pointer;
transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
} 

.logocss {
  margin-top: "15px";
  margin-bottom: "15px";
}

.logincss {
  text-align: center;
}

.registercss {
  text-align: center;
}

.emailclass {
  color:#1ab5d4;
  font-weight: bold;
}

.button {
  position: relative;
  background: var(--clr);
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  width: 120px;
  height: 25px;
  border-radius: 25px 25px;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  transition: 0.2s;
}

 

.button:hover {
  letter-spacing: 0.1rem;
  background: var(--clr);
  color: rgb(163, 0, 203);
  /* box-shadow: 0 0 35px var(--clr); */
  animation: box 3s infinite;
  font-weight: bold;

}

 

.button::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: #272822;
}

 

.button span {
  position: relative;
  z-index: 1;
}
.button i {
  position: absolute;
  inset: 0;
  display: block;
}

 

.button i::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  left: 80%;
  top: -2px;
  border: 2px solid var(--clr);
  background: #272822;
  transition: 0.2s;
}

 

.button:hover i::before {
  width: 15px;
  left: 20%;
  animation: move 3s infinite;
}

 

.button i::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  left: 20%;
  bottom: -2px;
  border: 2px solid var(--clr);
  background: #272822;
  transition: 0.2s;
}

 

button:hover i::after {
  width: 15px;
  left: 80%;
  animation: move 3s infinite;
}

 

@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

 

@keyframes box {
  0% {
    box-shadow: #27272c;
  }
  50% {
    box-shadow: 0 0 25px var(--clr);
  }
  100% {
    box-shadow: #27272c;
  }
}

.links > a:nth-of-type(1):hover ~ .line { --index: 1; }
.links > a:nth-of-type(2):hover ~ .line { --index: 2; }
.links > a:nth-of-type(3):hover ~ .line { --index: 3; }
.links > a:nth-of-type(4):hover ~ .line { --index: 4; }
.links > a:nth-of-type(5):hover ~ .line { --index: 5; }
.links > a:nth-of-type(6):hover ~ .line { --index: 6; }
.links > a:nth-of-type(7):hover ~ .line { --index: 7; }
.links > a:nth-of-type(8):hover ~ .line { --index: 8; }
.links > a:nth-of-type(9):hover ~ .line { --index: 9; }
.links > a:nth-of-type(10):hover ~ .line { --index: 10; }
.links > a:last-of-type:hover ~ .line { --index: var(--items); }



